# Logs
/frontend/logs
/frontend/*.log

# React specific
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local

# Python & FastAPI specific
/backend/__pycache__/
/backend/*.pyd
/backend/venv/
/backend/.env
/backend/*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
