ultralytics
dill

uvicorn[standard]
fastapi
pydantic

# https://pytorch.org/ pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121 <- torch 버젼
# https://developer.nvidia.com/cuda-downloads  cuda_12.3.1_546.12_windows.exe 사용 
# https://developer.nvidia.com/rdp/cudnn-archive cuDNN v8.9.5 (October 27th, 2023), for CUDA 12.x Windows 사용 

